<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--css-->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">

    <!--font icon
    box-icon : https://boxicons.com/ (무료)-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <ul class="skipmenu">
        <li><a href="#" title="상단 컨텐츠로 이동">상단 컨텐츠로 이동</a></li>
        <li><a href="#" title="메인 컨텐츠로 이동">메인 컨텐츠로 이동</a></li>
        <li><a href="#" title=" 컨텐츠로 이동">하단 컨텐츠로 이동</a></li>
    </ul>

    <header class="h-container">
        <div class="h-top">
            <div class="inner clearfix" >
                <div class="h-top-menu">
                    <a href="#" title="회원가입 페이지 새 창 이동" target="_blank">회원가입</a>
                    <a href="#" title="로그인 페이지 새 창 이동" target="_blank">로그인</a>
                    <a href="#" title="마이페이지 새 창 이동" target="_blank">마이페이지</a>
                </div>
            </div>
        </div><!--h-top-->

        <div class="h-bottom">
            <div class="inner">
                <h1 class="logo">
                    <a href="#" title="홈으로 이동">
                        <span class="blind">파트너스 학원</span>
                    </a>
                </h1>

                <nav class="gnb">
                    <ul>
                        <li><a href="#" title="학원 안내 대메뉴">학원 안내</a></li>
                        <li><a href="#" title="수강 안내 대메뉴">수강 안내</a></li>
                        <li><a href="#" title="스터디룸 대메뉴">스터디룸</a></li>
                        <li><a href="#" title="입시 정보 대메뉴">입시 정보</a></li>
                        <li><a href="#" title="상담및문의 대메뉴">상담및문의</a></li>
                    </ul>
                </nav>

                <div class="ham-btn">
                    <a href="#" title="전체 메뉴 열기 버튼">
                        <i class="line1"></i>
                        <i class="line2"></i>
                        <i class="line3"></i>
                    </a>
                </div>
            </div>
        </div><!--h-bottom-->
    </header><!--header-->

    <main class="container">
        <section class="visual-wrapper"> 
            <div class="visual-list">
                <div class="visual">
                    <h2 class="blind">2020년에도 역시 파트너!</h2> 
                </div>
            </div><!--visual-list-->

            <ul class="visual-dot-list">
                <li class="on"></li>
                <li></li>
                <li></li>
            </ul>
        </section> <!--section은 항상 제목이 있어야함. but visual에선 슬라이드에선 리스트 하나가 제목-->

        <section class="timeline-wrapper">
            <h2 class="blind">월 별 행사</h2>
            <div class="timeline">
                <div class="inner">
                    <ul class="timeline-list">
                        <li class="green-dot"><a href="#" title="1월">01</a></li>
                        <li class="green-dot"><a href="#" title="2월">02</a></li>
                        <li><a href="#" title="3월">03</a></li>
                        <li><a href="#" title="4월">04</a></li>
                        <li><a href="#" title="5월">05</a></li>
                        <li class="event"><a href="#" title="6월">06</a></li>
                        <li><a href="#" title="7월">07</a></li>
                        <li><a href="#" title="8월">08</a></li>
                        <li class="event"><a href="#" title="9월">09</a></li>
                        <li><a href="#" title="10월">10</a></li>
                        <li class="event02"><a href="#" title="11월">11</a></li>
                        <li class="green-dot"><a href="#" title="12월">12</a></li>
                    </ul>
                </div>
            </div><!--timeline-->

            <div class="timeline-item inner">
                <ul class="clearfix">
                    <li>
                        <p class="time-date">11.14(목)</p>
                        <p class="time-title">- 대학능력수능평가 (3학년)</p>
                    </li>

                    <li>
                        <p class="time-date">11.20(수)</p>
                        <p class="time-title">- 경기도 교육청 모의고사 (1,2학년)</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="curri-wrapper">
            <div class="inner">
                <h2 class="content-title">파트너 커리큘럼</h2>
                <div class="curri clearfix">
                    <div class="curri-item">
                        <div class="hover-box">
                            <h3 class="curri-title">
                                수험생에 의한 수험생을 위한<br>
                                파트너의 노하우가 담긴 특급 커리큘럼
                            </h3>

                            <p class="curri-text">
                                <span>돌다리도 두들겨보고 건너라</span>
                                - 수능에 출제되는 개념정리 + 활용 및 문제 적용법
                            </p>
                            <p class="curri-text">
                                <span>안되면 될 때 까지</span>
                                - 16개년 평가원 기출 정리 + 분석 / 킬러 문제 연습
                            </p>
                            <a href="#" title="상세 페이지 이동" class="dic-btn">자세히 보기</a>
                        </div>
                    </div>

                    <div class="curri-item02">
                        <div class="hover-box">
                            <h3 class="curri-title">
                                내신 1등급을 향한 ONLY ONE WAY
                            </h3>
                            <p class="curri-text">
                                <span>대학 입시 카운트</span>
                                - 낯선 심화 개념에 당황하지 않도록 STEP BY STEP 개념정리<br>
                                - 2개 이상의 개념을 활용하는 복잡한 연계 문제에 대응하는 다원별 유기적 학습
                            </p>
                            <a href="#" title="상세 페이지 이동" class="dic-btn">자세히 보기</a>
                        </div>
                    </div>

                    <div class="curri-item03">
                        <div class="hover-box">
                            <h3 class="curri-title">
                                고등수학을 위한 기초 공사
                            </h3>
                            <p class="curri-text">
                                무조건적인 공식 암기는<span class="point"> NO! </span><br>
                                충분한 개념 이해를 바탕으로<br>
                                체득하는 공식과 문제 활용 능력
                            </p>
                            <a href="#" title="상세 페이지 이동" class="dic-btn">자세히 보기</a>
                        </div>
                    </div>

                    <div class="curri-item04">
                        <div class="hover-box">
                            <h3 class="curri-title">
                                기초부터 탄탄하게
                            </h3>
                            <p class="curri-text">
                                - 기초 연산 + 창의 사고력<br>
                                - 실전 대비를 위한 서술형 훈련
                            </p>
                            <a href="#" title="상세 페이지 이동" class="dic-btn">자세히 보기</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="local-wrapper">
            <div class="inner">
                <h2 class="content-title">입시정보 & 전략</h2>
                
                <ul class="local-list clearfix">
                    <li class="seoul">
                        <h3 class="local-title">
                            <span>서울 주요 대학 중심<br>대입 전형</span>
                            서울 지역 대입
                        </h3>
                        <a href="#" title="상세 페이지 이동" class="dic-text">VIEW MORE > </a>
                    </li>

                    <li class="incheon">
                        <h3 class="local-title">
                            <span>경기·인천 지역 중심<br>수시/정시 대입 전형</span>
                            경기·인천 지역 대입
                        </h3>
                        <a href="#" title="상세 페이지 이동" class="dic-text">VIEW MORE > </a>
                    </li>

                    <li class="busan">
                        <h3 class="local-title">
                            <span>부산·울산·경남 지역 중심<br>수시/정시 대입 전형</span>
                            부산·울산·경남 지역 대입
                        </h3>
                        <a href="#" title="상세 페이지 이동" class="dic-text">VIEW MORE > </a>
                    </li>

                    <li class="jeju">
                        <h3 class="local-title">
                            <span>제주 지역<br>수시/정시 대입 전형</span>
                            제주 지역 대입
                        </h3>
                        <a href="#" title="상세 페이지 이동" class="dic-text">VIEW MORE > </a>
                    </li>
                </ul>

                <a href="#" title="상세 페이지로 이동" class="dic-btn02">더 알아보기</a>
            </div>
        </section>

        <section class="book-wrapper">
            <div class="inner">
                <h2 class="content-title"><span>교재 소개</span></h2> 
                <ul class="book-list clearfix">
                    <li>
                        <div class="book-item">
                            <div class="hover-item">
                                <em class="book-title">개념 원리</em>
                                <p class="book-text">
                                    학생들의 눈높이에 맞춘<br>
                                    수학 개념 기본서
                                </p>
                                <p class="book-name">저자 : 이홍석</p>
                                <p class="book-price">원가 : 17000원</p>

                                <a href="#" title="상세 페이지 이동" class="dic-text">view more > </a>
                            </div>
                        </div>
                        <h3 class="title">개념원리 시리즈</h3>
                    </li>

                    <li>
                        <div class="book-item">
                            <div class="hover-item">
                                <em class="book-title">개념 원리</em> 
                                <p class="book-text">
                                    학생들의 눈높이에 맞춘<br>
                                    수학 개념 기본서
                                </p>
                                <p class="book-name">저자 : 이홍석</p>
                                <p class="book-price">원가 : 17000원</p>

                                <a href="#" title="상세 페이지 이동" class="dic-text">view more > </a>
                            </div>
                        </div>
                        <h3 class="title">개념원리 시리즈</h3>
                    </li>
                    <li>
                        <div class="book-item">
                            <div class="hover-item">
                                <em class="book-title">개념 원리</em> 
                                <p class="book-text">
                                    학생들의 눈높이에 맞춘<br>
                                    수학 개념 기본서
                                </p>
                                <p class="book-name">저자 : 이홍석</p>
                                <p class="book-price">원가 : 17000원</p>

                                <a href="#" title="상세 페이지 이동" class="dic-text">view more > </a>
                            </div>
                        </div>
                        <h3 class="title">개념원리 시리즈</h3>
                    </li>

                    <li>
                        <div class="book-item">
                            <div class="hover-item">
                                <em class="book-title">개념 원리</em>
                                <p class="book-text">
                                    학생들의 눈높이에 맞춘<br>
                                    수학 개념 기본서
                                </p>
                                <p class="book-name">저자 : 이홍석</p>
                                <p class="book-price">원가 : 17000원</p>

                                <a href="#" title="상세 페이지 이동" class="dic-text">view more > </a>
                            </div>
                        </div>
                        <h3 class="title">개념원리 시리즈</h3>
                    </li>
                </ul>
                <!--버튼은 ul안이 아닌 밖에 만들어줘야함-->
                <button class="prev-btn">
                    <span class="blind">이전 컨텐츠 보기 버튼</span>
                </button>
                <button class="next-btn">
                    <span class="blind">다음 컨텐츠 보기 버튼</span>
                </button>
            </div>
        </section>

        <section class="partner-wrapper">
            <div class="inner clearfix"><!--float넣을거니까(left, right로 구분위해?) clearfix-->
                <div class="partner-left">
                    <h2 class="content-title">ONLY, PARTNER</h2>
                    <ul class="partner-list">
                        <li><a href="#"># 온라인 강의</a></li>
                        <li><a href="#"># 첨삭 SYSTEM</a></li>
                        <li><a href="#"># 등 / 하원 문자 알림</a></li>
                    </ul>
                    <div class="btn-wrapper">
                        <button class="prev-btn">
                            <span class="blind">이전 컨텐츠 보기 버튼</span>
                            <i class='bx bx-left-arrow-alt'></i> <!--boxicon에서 아이콘선택-font-복사-->
                        </button>
                        <i class="bar"></i>
                        <button class="next-btn">
                            <span class="blind">다음 컨텐츠 보기 버튼</span>
                            <i class='bx bx-right-arrow-alt' ></i>
                        </button>
                    </div>
                </div>
                <div class="partner-right">
                    <img src="./images/only_partner00.png" alt="[광고] 인터넷만 연결된다면 언제 어디서든 온라인 강의 제공! 
                    사정이 생겨 부득이하게 학원을 결석하게 된 경우, 혼자 수업 내용을 복습하고 싶은 경우 등 파트너 학생들만을 위한 
                    온라인 강의를 전 수강생에게 무료로 제공합니다.">
                </div>

            </div>
        </section>

        <div class="banner-wrapper">
            <span class="blind">
                에어팟 1+1 이벤트 친구랑 같이 학원다니고 에어팟 받자! 이벤트, 
                이벤트 기간 2020년 05월 01일부터 2020년 06월 30일까지
            </span>
        </div>
    </main>
    
    <footer class="f-container">
        <div class="f-top">
            <div class="inner clearfix">
                <ul class="f-top-menu">
                    <li><a href="#" title="메뉴 바로가기">이용약관</a></li>
                    <li><a href="#" title="메뉴 바로가기">개인정보처리방침</a></li>
                    <li><a href="#" title="메뉴 바로가기">오시는길</a></li>
                    <li><a href="#" title="메뉴 바로가기">문의하기</a></li>
                </ul>
            </div>
        </div>
        
        <div class="f-bottom">
            <div class="inner">
                <ul class="f-sns-list clearfix">
                    <li><a href="#" title="페이스북 바로가기"></a></li>
                    <li><a href="#" title="유튜브 바로가기"></a></li>
                    <li><a href="#" title="네이버 블로그 바로가기"></a></li>
                </ul>

                <div class="f-info">
                    <span>파트너 학원</span>
                    <span>경기도 성남시 수정구 태평동 6985-1번지 4층(경기 성남시 수정구 수정로51)</span>
                    <br>
                    <span>사업자 등록번호 : 123-45-67890</span>
                    <span>Tel.031-758-7535</span>
                    <span>FAX.031-758-7535</span>
                    <span>E-mail.partneredu@naver.com</span>
                </div>
                <p class="copy">Copyright ⓒ PARTNER EUDCATION Co.,Ltd. All rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>