@charset "UTF-8";
/*
extend (
- 특정한 (요소의) 선택자가 다른 선택자의 스타일을 가져야 할 때
    (mixin은 선택자 없이 변수로... extend는/// 스타일 전체만 가져올 수 있음 간단하게 사용할땐.. 잘 안씃ㅁ 믹스인 쓰자)

단점 : 
선언되는 위치를 알 수가 없다. 
중첩되는 스타일이 생길 수도 있다.
값을 변경하는 방법이 덮어씌우는 방법밖에 없다.

간단한 구조에서는 사용하는데 제약은 없지만, 
구조가 복잡해지는 상황에서는 사용성에 명확한 제한이 생기므로 @mixin을 좀 더 선호하는 편이다.

다만 과도한 사용이 될 경우 css코드가 복잡해지고, 유지관리가 어려워진다.

*/
.box, .box03, .box02 {
  width: 300px;
  height: 300px;
  border: solid 1px black;
  border-radius: 10px;
}

.box02 {
  background: lightgreen;
}

.box03 {
  background: lightcoral;
}