@font-face{
    font-family: 'genesis-head-light';
    // 아래src와 위 src는 다르기 때문에 ,가 아닌 ;으로 구분해준다..?
    src: url('../../fonts/GenesisSansHeadKRLight.eot');
    src: url('../../fonts/GenesisSansHeadKRLight.eot#iefix') format('embededopentype'),
        url('../../fonts/GenesisSansHeadKRLight.woff2') format('woff2'); //woff나 woff2중 아무거나 ㄱㅊ/ 둘다 최상위 버전 지원.
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'genesis-head';
    src: url('../../fonts/GenesisSansHeadKRRegular.eot');
    src: url('../../fonts/GenesisSansHeadKRRegular.eot#iefix') format('embededopnentype'),
        url('../../fonts/GenesisSansHeadKRLight.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
 }

 @font-face{
    font-family: 'genesis-text';
    src: url('../../fonts/GenesisSansTextKRRegular.eot');
    src: url('../../fonts/GenesisSansTextKRRegular.eot#iefix') format('embededopentype'),
        url('../../fonts/GenesisSansTextKRRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
 }