//많이 사용하는 변수

/*font*/ //font이름 길어서 짧게 줄이려고
$title : 'genesis-head', sans-serif; //sans-serif : 고딕체
$titleLight : 'genesis-head-light',  sans-serif;
$text : 'genesis-text', sans-serif;

/*color*/
$white : #ffffff;
$black : #111111;

//mixin, var .css로 변환할 필요 없다.
/*

*/