<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTEL NONGSHIM</title>
    <link rel="stylesheet" src="./css/reset.css">
    <link rel="stylesheet" src="./css/common.css">
</head>
<body>
    <header class="h-container">
        <div class="h-top">
            <div class="inner clearfix">
                <div class="lang">
                    <button>ENG</button>
                    <button>JPN</button>
                    <button>CHN</button>
                </div>
                <h1 class="logo">
                    HOTEL NONGSHIM<br>
                    <span>hotel & spa</span>
                </h1>
                <div class="h-top-menu">
                    <a href="#" title="로그인 페이지 이동">로그인</a>
                    <a href="#" title="회원가입 페이지 이동">회원가입</a>
                    <a href="#" title="멤버십 페이지 이동">멤버십</a>
                    <a href="#" title="예약확인 페이지 이동">예약확인</a>
                    <a href="#" title="오시는길 페이지 이동">오시는길</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>