<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="h-container">
        <div class="h-top">
            <div class="inner">
                <div class="h-top-left">
                    <button>ENG</button>
                    <button>JPN</button>
                    <button>CHN</button>
                </div>
                <h1 class="logo">
                    <a href="#" title="홈으로 이동">
                        HOTEL NONGSHIM<br>
                        <span>HOTEL & SPA</span>
                    </a>
                </h1>
                <div class="h-top-right">
                    <a href="#" title="로그인 페이지로 이동">로그인</a>
                    <a href="#" title="회원가입 페이지로 이동">회원가입</a>
                    <a href="#" title="멤버십 페이지로 이동">멤버십</a>
                    <a href="#" title="예약확인 페이지로 이동">예약확인</a>
                    <a href="#" title="오시는길 페이지로 이동">오시는길</a>
                </div>
            </div>
        </div>

        <div class="h-bottom">
                <nav class="gnb">
                    <ul class="inner clearfix">
                        <li><a href="#" title="객실 안내 메뉴">객실</a></li>
                        <li><a href="#" title="다이닝 메뉴">다이닝</a></li>
                        <li><a href="#" title="연회&웨딩 메뉴">연회&웨딩</a></li>
                        <li><a href="#" title="온천(허심청) 메뉴">온천(허심청)</a></li>
                        <li><a href="#" title="브로맥주 메뉴">브로이맥주</a></li>
                        <li><a href="#" title="편의시설 메뉴">편의시설</a></li>
                        <li><a href="#" title="스페셜 오퍼 메뉴">스페셜오퍼</a></li>
                        <li><a href="#" title="갤러리 메뉴">갤러리</a></li>
                        <li><a href="#" title="예약 메뉴">예약</a></li>
                    </ul>
                </nav>
        </div>
    </header>

    <main class="container">
        <section class="visual-wrapper">
            <div class="visual-list">
                <div class="visual">
                    <h2 class="visual-title">그 곳, 호텔농심<br>
                    <span>신선한 공기와 맑은 온천수를 벗삼아 휴식을 취하는 곳</span></h2>
                </div>
            </div>
            <div class="search inner clearfix">
                <div class="weather"><p>Busan 26.3도</p></div>
            </div>
        </section>


    </main>
</body>
</html>