<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--style-->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="h-container">
        <div class="inner"> 
            <h1 class="logo">
                logo
            </h1>
            <div class="h-sns-menu">sns</div>
            <div class="h-menu">menu</div>
            <div class="ad"> <!--컨텐츠로 생각x, 레이아웃에 넣지않고 css로도 만들 수있음 -->
                ad
            </div>
        </div>
    </header>
    <nav class="gnb">
        <ul class="inner">
            <li><a href="#" title="메뉴1 대메뉴">브랜드 스토리</a></li>
            <li><a href="#" title="메뉴1 대메뉴">새로워진 뚜레쥬르</a></li>
            <li><a href="#" title="메뉴1 대메뉴">제품 안내</a></li>
            <li><a href="#" title="메뉴1 대메뉴">이벤트&멤버십</a></li>
            <li><a href="#" title="메뉴1 대메뉴">뚜레쥬르 앱&온라인 쇼핑몰</a></li>
        </ul>
    </nav>

    <main class="container">
        <div class="visual"> <!--visual은 가운데가 아닌 전체를 차지하는 요소이므로 innerX-->
            visual
        </div>
        <div class="inner">

            <div class="banner-wrapper clearfix">
                <div class="banner-left">
                    <div class="slider"> 
                        slider
                    </div>
                    <div class="delivery">
                        배달
                    </div>
                </div>

                <div class="banner-right">
                    <div class="item-pick">
                        추천 제품
                    </div>
                    <div class="item-banner">
                        배너 아이템
                    </div>
                </div>

            </div>

        </div>
    </main>
</body>
</html>